Architecture: iphoneos-arm
Package: appsyncunified
Name: AppSync Unified「安装破解IPA」
Version: 32.0
Depiction: https://sileo-cydia.github.io/depiction/web/appsyncunified.html
Homepage: https://sileo-cydia.github.io/depiction/web/appsyncunified.html
SileoDepiction: https://sileo-cydia.github.io/depiction/native/appsyncunified.json
ModernDepiction: https://sileo-cydia.github.io/depiction/native/appsyncunified.json
Icon: https://sileo-cydia.github.io/assets/appsyncunified/icon.png
Maintainer: 他是个疯子 <409774743@qq.com>
Description: 无需签名安装ipa应用
Support: zc
Installed-Size: 12
Section: Tweaks
Depends: firmware (>=11.0), firmware (>= 5.0), mobilesubstrate (>= 0.9.5100), firmware (<= 12.1.2)
Conflicts: us.hackulo.appsync50, us.hackulo.appsync50plus, com.hackyouriphone.appsync7, com.teiron.ppsync, appsync50plus2.25pp, com.linusyang.appsync, com.sull.appsyncunified, com.sull.appsyncunifiedbeta, com.xsellize.appsync50, com.xsellize.appsync50plus, appsync50plus.178, appsync50plus2.178
Replaces: us.hackulo.appsync50
Provides: appsync
Author: Linus Yang, Karen/あけみ  <409774743@qq.com>
